h1{
    color: #7c795d;
    font-family: 'Trocchi',serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0; 
    text-align: center;
    margin-top: 30px;
}

h3{
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
    text-align: center;
}


/* Input from https://codepen.io/lucasyem/pen/ZEEYKdj */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px auto 0; 
    width: 30%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #7c795d;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #7c795d;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #574c41;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #574c41,#bdb3a8);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}