*{
    background-color: #fdfbe3;
}



h1{
    color: #7c795d;
    font-family: 'Trocchi',serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0; 
    text-align: center;
    margin-top: 30px;
}

h3{
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
    text-align: center;
}

/* TODO: */

.result-container {
  text-align: left;
  margin-top: 20px;
}

.result-image {
  width: 250px;
  border-radius: 25%;
  margin-right: 1500px;
  margin-bottom: 50px;
}

.result-name {
  font-size: 24px;
  color: #574c41;
  font-weight: 700;
  margin-top: -320px;
  margin-left: 300px;
}

.result-role {
  font-size: 16px;
  color: #574c41;
  margin-top: 5px;
  margin-left: 300px;
  font-style: italic;
}

.result-text{
  font-size: 16px;
  color: #574c41;
  margin-top: 30px;
  margin-left: 300px;
 
}

/* Input from https://codepen.io/lucasyem/pen/ZEEYKdj og noen modifikasjoner fra meg*/

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: 10px auto 0; 
    width: 30%;
  }
  
  .form__field {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #7c795d;
    outline: 0;
    font-size: 1.3rem;
    color: #7c6d5d;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: 20px;
      cursor: text;
      top: 20px;
    }
  }

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: #7c795d;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: #574c41;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #574c41,#bdb3a8);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}